body{ background-color: #F06060; color: #fff; font: 12px/1.5 '微软雅黑';
}
body>a{ display: none; }

.page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hide{display: none;}
#loading{
    display: block;
    font-size: 30px;
    line-height: 500px;
    text-align: center;
    color: #fff;
}

#index h1{text-align: center;  font-size: 30px; padding: 30px 0;text-shadow:1px 1px 1px #AB3C3C; }

#index .btns{ text-align: center; position: absolute; bottom: 10px; height: 210px; width: 100%; color: #ddd;}

#room header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #FFA1A1;
}
#room header .lv{
    position: absolute;
    width: 80px;
    height: 50px;
    left: 10px;
    top: 0;
}
#room header .lv em{
    font-style: normal;
}
#room header .btn-pause{
    position: absolute;
    top: 5px;
    right: 10px;
    height: 40px;
    width: 60px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    color: #fff;
}
#room header .time{
    font-size: 20px;
    font-weight: bold;
    background-color: #FD9090;
    color: #FFCACA;
    padding: 0 10px;
    border-radius: 10px;
}
#room header .time.danger{
    color: #FF0505;
    background-color: #fff;
}

#help{
    height: 30px;
    font-size: 16px;
    color: #FFA1A1;
    text-align: center;
}

#box{
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
}
#box span{
    display: block;
    float: left;
    border-radius: 10px;
    cursor: pointer;
    border: 5px solid #ddd;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#box.lv2 span{
    width: 50%;
    height: 50%;
}
#box.lv3 span{
    width: 33.33%;
    height: 33.33%;
}
#box.lv4 span{
    width: 25%;
    height: 25%;
}
#box.lv5 span{
    width: 20%;
    height: 20%;
    border-width: 3px;
}
#box.lv6 span{
    width: 16.666%;
    height: 16.666%;
    border-width: 3px;
}
#box.lv7 span{
    width: 14.28%;
    height: 14.28%;
    border-width: 3px;
}
#box.lv8 span{
    width: 12.5%;
    height: 12.5%;
    border-width: 3px;
}
#box.lv9 span{
    width: 11.111%;
    height: 11.111%;
    border-width: 3px;
}
#box span img{
    width: 100%;
}

#dialog{
    background: url(../img/share.png) top right no-repeat #A74343;
    padding-top: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#dialog .inner{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
#dialog .inner .content{
    padding-top: 50px;
}
#dialog .inner h3{
    line-height: 60px;
    font-size: 40px;
    margin: 0;
    color: #321;
}
#dialog .inner .pause h3{
    color: #FFE2C5;
}
#dialog .inner .btn{
    margin: 15px auto;
}

#dialog .inner p{ margin: 0;}


.btn {
    border: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background: #FCAD26;
    border-radius: 7px;
    box-shadow: 0 5px #DA9622;
    font-size: 20px;
    font-family: '微软雅黑';
    height: 70px;
    width: 220px;
    line-height: 70px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.btn.btn-bottom{
    position: absolute;
    width: 300px;
    padding: 0;
    bottom: 20px;
    left: 50%;
    margin-left: -150px;
}

.btn-wrap .boyaa-logo{
    display:block;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.btn-wrap .boyaa-logo img{
    max-width: 100%;
}

@media all and (orientation:landscape) {
    #room header{
        height: 100%;
        width: 80px;
    }
    #room header .lv{
        left: 0;
    }

    #room header .time{
        display: inline-block;
        height: 50px;
        width: 100%;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -25px;
    }
    #room header .btn-pause{
        top: auto;
        bottom: 15px;
    }

    #box{
        top: 0;
        left: 80px;
    }

    #dialog{
        padding-top: 0;
        padding-left: 80px;
    }
    #dialog .inner .content{
        padding-top: 100px;
    }
}

@media all and (max-width: 361px){

    #box.lv1 span,#box.lv2 span,#box.lv3 span,#box.lv4 span{
        border-width: 2px;
        border-radius: 5px;
    }

    #box.lv5 span,#box.lv6 span,#box.lv7 span,#box.lv8 span,#box.lv9 span{
        border-width: 1px;
        border-radius: 3px;
    }
}

.btn-boyaa{ text-decoration: none;}
.btn-boyaa img{height: 30px; width: 30px; vertical-align: middle; margin-left: 10px;}
