<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{98,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>char2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{116,122}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{116,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>charfly1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{70,114}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{70,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>charfly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{70,114}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{70,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>charfly3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{70,114}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{70,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>charfly4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{70,114}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{70,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kiss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,0},{82,114}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{82,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kiss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{102,116}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{102,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>char.png</string>
            <key>size</key>
            <string>{678,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb1d65d573933f8a0d4bc6de042e1a19:ebb16fac6c3dcb1f9f6d72698f4bf5c2:5b1cd77608a26c0b98d099d5288208e5$</string>
            <key>textureFileName</key>
            <string>char.png</string>
        </dict>
    </dict>
</plist>
