<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ma_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{305,376}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{305,376}}</string>
                <key>sourceSize</key>
                <string>{309,376}</string>
            </dict>
            <key>ma_button_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,437},{117,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,42}}</string>
                <key>sourceSize</key>
                <string>{117,42}</string>
            </dict>
            <key>ma_button_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,484},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>ma_button_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,484},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>ma_button_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,481},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>ma_button_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{117,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,42}}</string>
                <key>sourceSize</key>
                <string>{117,42}</string>
            </dict>
            <key>ma_dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,196},{286,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{286,183}}</string>
                <key>sourceSize</key>
                <string>{290,185}</string>
            </dict>
            <key>ma_hole.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,437},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ma_hole1.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,380},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ma_horse.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,484},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{49,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>ma_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,196},{2,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,4}}</string>
                <key>sourceSize</key>
                <string>{2,4}</string>
            </dict>
            <key>ma_sharetip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{120,55}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{120,55}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>ma_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{192,192}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{192,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ma_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{273,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{273,55}}</string>
                <key>sourceSize</key>
                <string>{275,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{503,558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cdd330e805a1c31a06927a6f565bceb:20ff3e7627f170e1c81a8df7000fbc3e:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>