*{margin:0;padding:0}
html,body{height:100%;}
body{line-height:1.4;height:100%;font-size:16px;color:#444;max-width:720px;margin:0 auto;background-color:#efefef;-webkit-user-select锛歯one;user-select:none;}
i{font-style: normal;}
fieldset,img{border:0}
a{text-decoration:none;color:#444;}
ul,li {list-style:none;}
header,footer,section {display:block;}


h1{font-size:20px; text-align:center; margin-top:20px;}
.shuoming{
	font-size:12px;
	color:#666;
	text-align:center;
}
.shuru{
	margin-top:180px;
	margin-bottom:10px;
	text-align:center;
}
.shuru input{
	width:100px;
	height:30px;
	font-size:18px;
}
#info{
	width:100%;
	height:50%;
	border:1px #999999 solid;
	position:fixed;
	top:15%;
	background:#FFF;
	padding:5%;
	text-align:center;
	opacity: 0.95; 
}
#footad{
	margin-top:20px;
	text-align:center;
}

.retry button{
	font-size:16px;
}

.disable-default-action
{
    -webkit-touch-callout:none ;
    -webkit-user-select:none ;
}
.m-farea{position:absolute;top:150px;left:50%;margin:-60px 0 0 -50px;width:100px;height:120px;border:1px solid #000;-webkit-user-select锛歯one;user-select:none; background:url(http://api.gz.1251008026.cee.myqcloud.com/images/zhiwen/bg.png) 10px 10px no-repeat; background-size:80px 100px;}
.m-farea .line{display:none;position:absolute;top:-2px;width:98px;height:2px;background:rgba(237,47,18,0.9);box-shadow: 1px 1px 2px 2px rgba(237,47,18,0.9),1px 1px 2px 2px rgba(237,47,18,0.9) inset;}
.m-farea .line{-webkit-animation:fadein 3s infinite linear;}
@-webkit-keyframes fadein{
    0%{-webkit-transform:translateY(0);}
    50%{-webkit-transform:translateY(120px);}
    100%{-webkit-transform:translateY(0%);}
}
.m-farea .active{display:block;-webkit-animation:on 3s infinite linear;}
@-webkit-keyframes on{
    0%{-webkit-transform:translateY(0);}
    5%{-webkit-transform:translateY(20px);background:rgba(237,47,18,0.9);box-shadow: 1px 1px 2px 2px rgba(237,47,18,0.9),1px 1px 2px 2px rgba(237,47,18,0.9) inset;}
    25%{-webkit-transform:translateY(60px);background:rgba(237,187,64,0.9);box-shadow: 1px 1px 2px 2px rgba(237,187,64,0.9),1px 1px 2px 2px rgba(237,187,64,0.9) inset;}
    45%{-webkit-transform:translateY(90px);background:rgba(237,47,18,0.9);box-shadow: 1px 1px 2px 2px rgba(237,47,18,0.9),1px 1px 2px 2px rgba(237,47,18,0.9) inset;}
    50%{-webkit-transform:translateY(120px);background:rgba(237,47,18,0.9);box-shadow: 1px 1px 2px 2px rgba(237,47,18,0.9),1px 1px 2px 2px rgba(237,47,18,0.9) inset;}
    55%{-webkit-transform:translateY(90px);background:rgba(237,47,18,0.9);box-shadow: 1px 1px 2px 2px rgba(237,47,18,0.9),1px 1px 2px 2px rgba(237,47,18,0.9) inset;}
    75%{-webkit-transform:translateY(60px);background:rgba(237,187,64,0.9);box-shadow: 1px 1px 2px 2px rgba(237,187,64,0.9),1px 1px 2px 2px rgba(237,187,64,0.9) inset;}
    95%{-webkit-transform:translateY(20px);background:rgba(237,47,18,0.9);box-shadow: 1px 1px 2px 2px rgba(237,47,18,0.9),1px 1px 2px 2px rgba(237,47,18,0.9) inset;}
    100%{-webkit-transform:translateY(0px);}
}

.m_error{position: fixed;top:0;left:0;width:100%;height:100%;display:none;}
.m_error p{position: absolute;width:250px;padding:10px 0;top:50%;left:50%;margin-left:-125px;margin-top:-30px;color:#fff;line-height:15px;color:#fff;background: rgba(0,0,0,.8);border-radius:4px;text-align:center;}
}