<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,622},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{32,32}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>ball2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,500},{22,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{22,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>ball3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,454},{22,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{22,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,466},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>gameAgain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,570},{140,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,32}}</string>
                <key>sourceSize</key>
                <string>{140,32}</string>
            </dict>
            <key>gameAgain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,552},{140,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,32}}</string>
                <key>sourceSize</key>
                <string>{140,32}</string>
            </dict>
            <key>gameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,500}}</string>
                <key>sourceSize</key>
                <string>{320,500}</string>
            </dict>
            <key>gameFloor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{320,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,140}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>gameMore1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{140,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,32}}</string>
                <key>sourceSize</key>
                <string>{140,32}</string>
            </dict>
            <key>gameMore2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,536},{140,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,32}}</string>
                <key>sourceSize</key>
                <string>{140,32}</string>
            </dict>
            <key>gameShare1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,518},{140,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,32}}</string>
                <key>sourceSize</key>
                <string>{140,32}</string>
            </dict>
            <key>gameShare2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{140,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,32}}</string>
                <key>sourceSize</key>
                <string>{140,32}</string>
            </dict>
            <key>gameStart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,502},{140,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,32}}</string>
                <key>sourceSize</key>
                <string>{140,32}</string>
            </dict>
            <key>gameStart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,468},{140,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,32}}</string>
                <key>sourceSize</key>
                <string>{140,32}</string>
            </dict>
            <key>iron1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,454},{12,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,156}}</string>
                <key>sourceSize</key>
                <string>{12,156}</string>
            </dict>
            <key>logoTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,324},{128,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,185}}</string>
                <key>sourceSize</key>
                <string>{128,185}</string>
            </dict>
            <key>playerFail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,604},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{74,74}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>playerFail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,586},{94,64}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{94,64}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>playerHit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,652},{84,92}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{84,92}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>playerHit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,524},{64,96}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{64,96}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>playerStand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{78,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>playerStand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{78,92}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{78,92}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>playerStand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,604},{76,86}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{76,86}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>playerStand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,586},{76,86}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{76,86}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>scoreBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uiTex.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3522f34dbe76ec4c28df17a339892b2:cc9cebc6dc9d1f9a1ba83565871339c2:4adf7adcb56c4f3d6f5a84befc6aa994$</string>
            <key>textureFileName</key>
            <string>uiTex.png</string>
        </dict>
    </dict>
</plist>
