<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>air.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,511},{153,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,166}}</string>
                <key>sourceSize</key>
                <string>{153,166}</string>
            </dict>
            <key>ass_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{237,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,189}}</string>
                <key>sourceSize</key>
                <string>{237,189}</string>
            </dict>
            <key>ass_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{219,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,179}}</string>
                <key>sourceSize</key>
                <string>{219,179}</string>
            </dict>
            <key>ass_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,213},{173,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,145}}</string>
                <key>sourceSize</key>
                <string>{173,145}</string>
            </dict>
            <key>ass_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{219,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,179}}</string>
                <key>sourceSize</key>
                <string>{219,179}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,109},{192,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{192,63}}</string>
                <key>sourceSize</key>
                <string>{192,65}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{391,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,102}}</string>
                <key>sourceSize</key>
                <string>{391,102}</string>
            </dict>
            <key>face_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,614},{121,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,141}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>face_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,388},{121,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,141}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>face_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,303},{121,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,141}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>fart_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,446},{166,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,124}}</string>
                <key>sourceSize</key>
                <string>{166,124}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,105}}</string>
                <key>sourceSize</key>
                <string>{500,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fart.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44292451b58ed5c517858069926a2592:1/1$</string>
            <key>textureFileName</key>
            <string>fart.png</string>
        </dict>
    </dict>
</plist>
