<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Again01.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,158},{73,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,26}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>Again02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,181},{73,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{73,26}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>Back01.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,95},{66,21}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{66,21}}</string>
                <key>sourceSize</key>
                <string>{70,25}</string>
            </dict>
            <key>Back02.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,95},{66,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,21}}</string>
                <key>sourceSize</key>
                <string>{70,25}</string>
            </dict>
            <key>GameStart01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,181},{73,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,26}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>GameStart02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,181},{73,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{73,26}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>Logo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,83}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{231,83}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>MoreGame01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,162},{73,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,26}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>MoreGame02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,87},{73,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{73,26}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>Share01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{120,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,26}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>Share02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{120,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,26}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>Share03.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,87},{194,69}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{194,69}}</string>
                <key>sourceSize</key>
                <string>{230,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uiTex.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58cb319edef91245d74d1bd9a14218ac$</string>
            <key>textureFileName</key>
            <string>uiTex.png</string>
        </dict>
    </dict>
</plist>
