<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>finger1.png</key>
		<dict>
			<key>x</key>
			<integer>705</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>253</integer>
			<key>height</key>
			<integer>370</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-40</real>
			<key>originalWidth</key>
			<integer>450</integer>
			<key>originalHeight</key>
			<integer>450</integer>
		</dict>
		<key>finger2.png</key>
		<dict>
			<key>x</key>
			<integer>202</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>249</integer>
			<key>height</key>
			<integer>364</integer>
			<key>offsetX</key>
			<real>-100.5</real>
			<key>offsetY</key>
			<real>-43</real>
			<key>originalWidth</key>
			<integer>450</integer>
			<key>originalHeight</key>
			<integer>450</integer>
		</dict>
		<key>finger3.png</key>
		<dict>
			<key>x</key>
			<integer>452</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>362</integer>
			<key>offsetX</key>
			<real>41</real>
			<key>offsetY</key>
			<real>-44</real>
			<key>originalWidth</key>
			<integer>450</integer>
			<key>originalHeight</key>
			<integer>450</integer>
		</dict>
		<key>more1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>47</integer>
		</dict>
		<key>more2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>47</integer>
		</dict>
		<key>nose1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>327</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>167</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>141.5</real>
			<key>originalWidth</key>
			<integer>450</integer>
			<key>originalHeight</key>
			<integer>450</integer>
		</dict>
		<key>nose2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>20</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>-48.5</real>
			<key>offsetY</key>
			<real>72</real>
			<key>originalWidth</key>
			<integer>450</integer>
			<key>originalHeight</key>
			<integer>450</integer>
		</dict>
		<key>nose3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>43</real>
			<key>offsetY</key>
			<real>72</real>
			<key>originalWidth</key>
			<integer>450</integer>
			<key>originalHeight</key>
			<integer>450</integer>
		</dict>
		<key>replay1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>183</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>47</integer>
		</dict>
		<key>replay2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>39</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>47</integer>
		</dict>
		<key>start1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>279</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>47</integer>
		</dict>
		<key>start2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>231</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>47</integer>
		</dict>
		<key>share.png</key>
		<dict>
			<key>x</key>
			<integer>395</integer>
			<key>y</key>
			<integer>407</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>47</integer>
		</dict>
	</dict>
</dict>
</plist>