<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_layer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,447}}</string>
                <key>offset</key>
                <string>{0,-229}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,458},{320,447}}</string>
                <key>sourceSize</key>
                <string>{320,905}</string>
            </dict>
            <key>back_layer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,795}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{320,795}}</string>
                <key>sourceSize</key>
                <string>{320,947}</string>
            </dict>
            <key>back_layer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,324},{90,267}}</string>
                <key>offset</key>
                <string>{74,-247}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,587},{90,267}}</string>
                <key>sourceSize</key>
                <string>{320,947}</string>
            </dict>
            <key>back_layer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,324},{186,257}}</string>
                <key>offset</key>
                <string>{67,-231}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,576},{186,257}}</string>
                <key>sourceSize</key>
                <string>{320,947}</string>
            </dict>
            <key>base_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,416},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>base_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,173},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>base_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,92},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>base_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,363},{75,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>base_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,416},{79,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>blast.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,324},{146,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,37}}</string>
                <key>sourceSize</key>
                <string>{146,37}</string>
            </dict>
            <key>block_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,92},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>block_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,416},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>block_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,419},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>block_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,363},{75,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>block_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,324},{79,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,324},{160,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,43}}</string>
                <key>sourceSize</key>
                <string>{160,43}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,2},{320,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,194}}</string>
                <key>sourceSize</key>
                <string>{320,194}</string>
            </dict>
            <key>mtl_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,324},{286,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{286,183}}</string>
                <key>sourceSize</key>
                <string>{290,185}</string>
            </dict>
            <key>mtl_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,92},{116,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,36}}</string>
                <key>sourceSize</key>
                <string>{118,36}</string>
            </dict>
            <key>mtl_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,324},{116,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,36}}</string>
                <key>sourceSize</key>
                <string>{118,36}</string>
            </dict>
            <key>mtl_button_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,210},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>mtl_sharetip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,324},{143,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,77}}</string>
                <key>sourceSize</key>
                <string>{143,77}</string>
            </dict>
            <key>mtl_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,2},{239,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{239,88}}</string>
                <key>sourceSize</key>
                <string>{241,90}</string>
            </dict>
            <key>perfect_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,324},{159,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,18}}</string>
                <key>sourceSize</key>
                <string>{159,18}</string>
            </dict>
            <key>perfect_pad.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,451},{195,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,52}}</string>
                <key>sourceSize</key>
                <string>{195,52}</string>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,505},{5,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,276}}</string>
                <key>sourceSize</key>
                <string>{5,276}</string>
            </dict>
            <key>score_pad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,486},{81,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,22}}</string>
                <key>sourceSize</key>
                <string>{81,28}</string>
            </dict>
            <key>sucker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,416},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>tower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,451},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>tower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,451},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>tower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,451},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>tower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,451},{55,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>tower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1558,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e8b531a5e9326eef7d38f80ce246e4a:45f6584b13f652f70925a40faccbc396:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
