<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{286,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,64}}</string>
                <key>sourceSize</key>
                <string>{286,64}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,65},{286,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,64}}</string>
                <key>sourceSize</key>
                <string>{286,64}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,65},{286,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,64}}</string>
                <key>sourceSize</key>
                <string>{286,64}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,65},{286,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,64}}</string>
                <key>sourceSize</key>
                <string>{286,64}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,65},{286,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,64}}</string>
                <key>sourceSize</key>
                <string>{286,64}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,131},{286,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,64}}</string>
                <key>sourceSize</key>
                <string>{286,64}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{286,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,64}}</string>
                <key>sourceSize</key>
                <string>{286,64}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,131},{286,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,64}}</string>
                <key>sourceSize</key>
                <string>{286,64}</string>
            </dict>
            <key>dakuangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,211},{546,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,150}}</string>
                <key>sourceSize</key>
                <string>{546,150}</string>
            </dict>
            <key>fenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{206,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,39}}</string>
                <key>sourceSize</key>
                <string>{206,39}</string>
            </dict>
            <key>fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,131},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>gongsi.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{143,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,29}}</string>
                <key>sourceSize</key>
                <string>{143,29}</string>
            </dict>
            <key>hongyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{75,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,61}}</string>
                <key>sourceSize</key>
                <string>{75,61}</string>
            </dict>
            <key>huadong.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,131},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>jiaocheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{343,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,44}}</string>
                <key>sourceSize</key>
                <string>{343,44}</string>
            </dict>
            <key>jike.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,363},{47,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,427}}</string>
                <key>sourceSize</key>
                <string>{47,427}</string>
            </dict>
            <key>manzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{64,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,35}}</string>
                <key>sourceSize</key>
                <string>{64,35}</string>
            </dict>
            <key>mingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{385,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,104}}</string>
                <key>sourceSize</key>
                <string>{385,104}</string>
            </dict>
            <key>qicao.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,363},{32,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,409}}</string>
                <key>sourceSize</key>
                <string>{32,409}</string>
            </dict>
            <key>sanjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,211},{124,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,129}}</string>
                <key>sourceSize</key>
                <string>{124,129}</string>
            </dict>
            <key>toumiaoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,131},{452,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,68}}</string>
                <key>sourceSize</key>
                <string>{452,68}</string>
            </dict>
            <key>wanjmiaoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,211},{294,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,134}}</string>
                <key>sourceSize</key>
                <string>{294,134}</string>
            </dict>
            <key>xiaoxin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,363},{318,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,372}}</string>
                <key>sourceSize</key>
                <string>{318,372}</string>
            </dict>
            <key>xiaoxin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,363},{318,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,372}}</string>
                <key>sourceSize</key>
                <string>{318,372}</string>
            </dict>
            <key>xiaoxin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{318,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,372}}</string>
                <key>sourceSize</key>
                <string>{318,372}</string>
            </dict>
            <key>xiejiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,211},{139,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,142}}</string>
                <key>sourceSize</key>
                <string>{139,142}</string>
            </dict>
            <key>xuanyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{145,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,44}}</string>
                <key>sourceSize</key>
                <string>{145,44}</string>
            </dict>
            <key>zailai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,2},{153,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,48}}</string>
                <key>sourceSize</key>
                <string>{153,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoxin.png</string>
            <key>size</key>
            <string>{1500,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f3b5f446a1a0943ac8d72e24b74a248:5ecf1e7a02b0cab72d24e91418abf80a:5dccfcada0024effece34e195057bf44$</string>
            <key>textureFileName</key>
            <string>xiaoxin.png</string>
        </dict>
    </dict>
</plist>
