<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="-1">
    <link rel="stylesheet" type="text/css" href="./js/m.min.css">
    <title>美女秀秀么么哒-微信HTML5在线朋友圈游戏-46465</title>
</head>
<body>
<div id="layout">
    <div id="loading" class="page show hide">loading</div>
    <div id="index" class="page show">
        <div class="app_name">show girl 么么哒</div>
        <div class="app_desc">爱我你就吻我吧</div>
        <div class="p_btns">
            <span class="btn_start_game js_start_game">开始游戏</span>
        </div>
    </div>
    <div id="game" class="page hide">
        <div id="game_header">
            <span class="score">得分：<span>0</span></span>
            <span class="count_down"></span>
            <span class="btn_pause js_pause_game">暂停</span>
        </div>
        <div id="box">
            <div class="inner">
                <div class="hole" id="hole1">
                    <div class="meizi" data-id="0"></div>
                </div>
                <div class="hole" id="hole2">
                    <div class="meizi" data-id="1"></div>
                </div>
                <div class="hole" id="hole3">
                    <div class="meizi" data-id="2"></div>
                </div>
                <div class="hole" id="hole4">
                    <div class="meizi" data-id="3"></div>
                </div>
                <div class="hole" id="hole5">
                    <div class="meizi" data-id="4"></div>
                </div>
                <div class="hole" id="hole6">
                    <div class="meizi" data-id="5"></div>
                </div>
                <div class="hole" id="hole7">
                    <div class="meizi" data-id="6"></div>
                </div>
                <div class="hole" id="hole8">
                    <div class="meizi" data-id="7"></div>
                </div>
                <div class="hole" id="hole9">
                    <div class="meizi" data-id="8"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="gameover" class="page hide"></div>
    <div id="game_pause" class="page hide">
        <div class="share">
            <img src="http://g.lanrenmb.com/games/memeda/fx.png" width="160">
        </div>
        <div class="pause_txt">游戏暂停</div>
        <div class="p_btns">
            <span class="btn_continue js_game_continue">继续</span>
        </div>
        <div class="p_btns"><a href="http://g.lanrenmb.com/" target="_blank" class="btn_download_game js_download_game">更多游戏</a></div>
       
    </div>
</div>
<script type="text/html" id="tpl_gameover">
    <div class="share">
        <img src="http://g.lanrenmb.com/games/memeda/fx.png" width="160">
    </div>
    <div class="score">
        <p class="result">亲到 <%= score %> 个美女~ 击败了 <%= percent %> %的玩家。堪称：</p>
        <p class="name"><%= name %></p>
        <p class="congratulation"><%= congratulation %></p>
    </div>

    <div class="pic"><img src="<%= img %>" alt=""></div>
    <div class="msg"><%= desc %></div>

    <div class="do_more"><%= doMore %></div>

    <div class="p_btns">
        <span class="btn_play_again js_game_again">再来一次</span>
    </div>
    <div class="p_btns">
        <a href="http://g.lanrenmb.com/" target="_blank" class="btn_download_game js_download_game">更多游戏</a>
    </div>

</script>
<script src="./js/libs.min.js"></script>
<script src="./js/main.min.js"></script>

<img src="http://img.tongji.linezing.com/3455448/tongji.gif">
</body></html>